apiVersion: v1
kind: Service
metadata:
  name: authz-service
  labels:
    app: authz-service
    app.kubernetes.io/name: authz-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
  selector:
    app: authz-service
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: authz-service
  labels:
    app: authz-service
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: authz-service
  labels:
    app: authz-service
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: authz-service
